<!-- Footer -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <ul class="list-inline">
          <li>
            <a href="{{ "/" | prepend: site.baseurl }}">Home</a>
          </li>
          <li class="footer-menu-divider">&sdot;</li>
          <li>
            <a href="{{ "/about/" | prepend: site.baseurl }}">Sobre</a>
          </li>
          <li class="footer-menu-divider">&sdot;</li>
          <li>
            <a href="{{ "/portfolio/" | prepend: site.baseurl }}">Portfólio</a>
          </li>
          <li class="footer-menu-divider">&sdot;</li>
          <li>
            <a href="{{ "/posts/" | prepend: site.baseurl }}">Blog</a>
          </li>
          <li class="footer-menu-divider">&sdot;</li>
          <li>
            <a href="{{ "/howtos/" | prepend: site.baseurl }}">Howtos</a>
          </li>
          <li class="footer-menu-divider">&sdot;</li>
          <li>
            <a href="{{ "/links/" | prepend: site.baseurl }}">Links</a>
          </li>
          <li class="footer-menu-divider">&sdot;</li>
          <li>
            <a href="{{ "/contact/" | prepend: site.baseurl }}">Contato</a>
          </li>
        </ul>
        <p class="copyright text-muted small">Copyright &copy; {{ site.title }} 2015. All Rights Reserved</p>
      </div>
      <div class="col-md-4">
        Credits: Landing Page is a free to use, open source Bootstrap theme created by <a href="http://startbootstrap.com/">Start Bootstrap</a>.
      </div>
    </div>
  </div>
</footer>
